<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <button><%= link_to "Show this paciente", paciente %></button>
    </p>
  <% end %>
</div>

<button><%= link_to "New paciente", new_paciente_path %></button>

<button><%= link_to "Inicio", root_path %></button>
