<p style="color: green"><%= notice %></p>

<h1>Consulta</h1>

<div id="consulta">
  <% @consulta.each do |consultum| %>
    <%= render consultum %>
    <p>
      <button><%= link_to "Show this consultum", consultum %></button>
    </p>
  <% end %>
</div>

<button><%= link_to "New consultum", new_consultum_path %></button>
<div>
<p>
  <button><%= link_to "Inicio", root_path %></button>
</p>
</div>