<p style="color: green"><%= notice %></p>

<h1>Medicos</h1>

<div id="medicos">
  <% @medicos.each do |medico| %>
    <%= render medico %>
    <p>
      <button><%= link_to "Show this medico", medico %></button>
    </p>
  <% end %>
</div>

<button><%= link_to "New medico", new_medico_path %></button>

<div>
  <p>
    <button><%= link_to "Inicio", root_path %></button>
  </p>
</div>