<p style="color: green"><%= notice %></p>

<%= render @medico %>
<h2>Consultas</h2>
<% @medico.consultums.each do |consultum| %>
  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente.nome %>
  </p>
  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>
  <p>
  <strong>Data:</strong>
  <%= consultum.data %>
  </p>
  ______________________
<% end %>

<div>
  <%= link_to "Edit this medico", edit_medico_path(@medico) %> |
  <%= link_to "Back to medicos", medicos_path %>

  <%= button_to "Destroy this medico", @medico, method: :delete %>
</div>
